# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data and output folders
/Data/
*.csv
*.tsv
*.json

# Environment files
.env
.venv/
venv/
ENV/
env/
*.env

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Python virtual environment
*.egg-info/
dist/
build/